<!-- Verzija: 2017.04.14a-->
<div class='homepage'>
    <h1>Vprašanje</h1>
    <div id="divVprasanje", ng-controller="QuestionController">
      <div class='celota'>
        <p class='vrsticaxody'><span class='poudarek'>Vprašanje: </span>{{zapStVpr+' od '+stVpr}}<br>
        <p class='trenutnoVprasanje'><b>> </b>{{vprasanje}}</p>
        <p class="stanjeGlasovanja"><span class='poudarek'>Stanje glasovanja: </span>{{stanjeGlasovanja}}</p>
        <button id="btnPrejsnjeVpr" onClick="prejsnjeVpr()"><< Prejšnje vprašanje</button>
        <button id="btnBeriVpr" onClick="beriVpr()">Naslednje vprašanje >></button>
        <!-- <button id="btnStartStop" onClick="startStopGlasovanje()" ng-click="startStopGl()">Začni/ustavi glasovanje</button> -->
        <button id="btnStartStop" onClick="startStopGlasovanje()">Začni/ustavi glasovanje</button>
        <button id="btnRewriteVprasanje" type="button" ng-click="rewriteVprasanje()" style="display:none"></button>
        <button id="btnPotrditevPrejemaOdg" type="button" ng-click="potrditevPrejemaOdg()" style="display:none"></button>
        <button id="btnRewriteGE00odg" type="button" ng-click="rewriteGE00odg()" style="display:none"></button>
        <button id="btnRewriteGE01odg" type="button" ng-click="rewriteGE01odg()" style="display:none"></button>
        <button id="btnRewriteGE02odg" type="button" ng-click="rewriteGE02odg()" style="display:none"></button>
        <button id="btnRewriteGE03odg" type="button" ng-click="rewriteGE03odg()" style="display:none"></button>
        <button id="btnRewriteWebGETabela" type='button' ng-click="rewriteWebGETabela()" style="display:none">Osveži podatke WebGE tabele</button>
        <button id="btnStartStopGL" type="button" ng-click="startStopGl()" style="display:none"></button>
      </div>
      <div class='enatretjina'>
        <!-- <p class='poudarek'>Odgovori:</p>
        <form action="">
          <div class='radioLine'><input type="radio" name="Q" id="strinja"> Se strinjam</div>
          <div class='radioLine'><input type="radio" name="Q" id="vzdrzan"> Vzdržan</div>
          <div class='radioLine'><input type="radio" name="Q" id="nestrinja"> Se ne strinjam</div>
        </form> -->
      </div>
        <!-- <button id="btnOddajOdg" onClick="oddajOdg()">Oddaj odgovor</button><br> -->
        <!-- <p class='povratna'>{{potrZapOdg}}</p> -->
        <!-- Spodnja koda je komentirana in ostaja v testne namene -->
        <!-- <p>Povratna informacija2: <output id="odg" type="text" /></p> -->
    <!-- </div>
    <div id="divGlasovalneEnote"> -->
      <table style="width:100%">
        <tr>
          <th id="thGEnota">Glasovalna enota</th>
          <th id="thStanjeOdg">Stanje povezave</th>
          <th id="thPrva">Stanje odgovora</th>
        </tr>
        <tr>
          <th>GE01</th>
          <th><output id="ge00Connection" type="text">X</output></th>
          <th><output id="ge00" type="text">{{ge00odg}}</output></th>
        </tr>
        <tr>
          <th>GE02</th>
          <th><output id="ge01Connection" type="text">X</output></th>
          <th><output id="ge01" type="text">{{ge01odg}}</output></th>
        </tr>
        <tr>
          <th>GE03</th>
          <th><output id="ge02Connection" type="text">X</output></th>
          <th><output id="ge02" type="text">{{ge02odg}}</output></th>
        </tr>
        <tr>
          <th>GE04</th>
          <th><output id="ge03Connection" type="text">X</output></th>
          <th><output id="ge03" type="text">{{ge03odg}}</output></th>
        </tr>
      </table>
      <table style="width:100%" st-table="WebGETabela" class="table table-striped">
        <thead>
          <th id="thIP" st-sort="IP">IP</th>
          <th id="thSocketID" st-sort="SocketID">SocketID</th>
          <!-- <th st-sort="hms">hms</th> -->
          <th id="thPrva" st-sort="stanjeOdg">Stanje odgovora</th>
        </thead>
        <tbody>
          <tr ng-repeat="WebGEData in WebGETabela">
            <td>{{WebGEData.IP}}</td>
            <td>{{WebGEData.SocketID}}</td>
            <td>{{WebGEData.stanjeOdg==="0"?"Čakam odgovor...":"Ob "+WebGEData.hms+" "+WebGEData.stanjeOdg+". prejem odgovora na izpisano vprašanje."}}</td>
            <!-- <td>{{WebGEData.stanjeOdg === "0" ? "Čakam odgovor..." : WebGEData.stanjeOdg}}</td> -->
          </tr>
        </tbody>
      </table>
      <!-- <p>Število povezav prek spletnih glasovalnih enot: <output id="optWebGENum" type="text" /></p> -->
    </div>
</div>
<button ng-controller="ModalPopup as $ctrl" id="btnZadnjeVpr" type="button" class="btn btn-default" ng-click="$ctrl.ZadnjeVpr()" style="display:none">Zadnje vprašanje</button>
<!-- <button ng-controller="ModalPopup as $ctrl" id="btnPodvojenOdg" type="button" class="btn btn-default" ng-click="$ctrl.PodvojenOdg()" style="display:none">Podvojen odgovor</button> -->
<button ng-controller="ModalPopup as $ctrl" id="btnPrazenOdg" type="button" class="btn btn-default" ng-click="$ctrl.PrazenOdg()" style="display:none">Prazen odgovor</button>
<button ng-controller="ModalPopup as $ctrl" id="btnNiVpr" type="button" class="btn btn-default" ng-click="$ctrl.NiVpr()" style="display:none">Ni vprašanja</button>
<button ng-controller="ModalPopup as $ctrl" id="btnPodvojenSocketID" type="button" class="btn btn-default" ng-click="$ctrl.PodvojenSocketID()" style="display:none">PodvojenSocketID</button>
