<!-- Verzija: 2017.01.28b-->
<div class='homepage'>
    <h1>Vprašanje</h1>
    <div id="divVprasanje", ng-controller="QuestionController">
      <div class='dvetretjini'>
        <p class='vrsticaxody'><span class='poudarek'>Vprašanje: </span>{{zapStVpr+' od '+stVpr}}<br>
        <p class='trenutnoVprasanje'><b>> </b>{{vprasanje}}</p>
        <button id="btnPrejsnjeVpr" onClick="prejsnjeVpr()"><< Prejšnje vprašanje</button>
        <button id="btnBeriVpr" onClick="beriVpr()">Naslednje vprašanje >></button>
        <button id="btnRewriteVprasanje" type="button" ng-click="rewriteVprasanje()" style="display:none"></button>
        <button id="btnPotrditevPrejemaOdg" type="button" ng-click="potrditevPrejemaOdg()" style="display:none"></button>
        <button id="btnRewriteGE00odg" type="button" ng-click="rewriteGE00odg()" style="display:none"></button>
        <button id="btnRewriteGE01odg" type="button" ng-click="rewriteGE01odg()" style="display:none"></button>
        <button id="btnRewriteGE02odg" type="button" ng-click="rewriteGE02odg()" style="display:none"></button>
        <button id="btnRewriteGE03odg" type="button" ng-click="rewriteGE03odg()" style="display:none"></button>
        <button id="btnRewriteWebGETabela" type='button' ng-click="rewriteWebGETabela()" style="display:none">Osveži podathe WebGE tabele</button>
      </div>
      <div class='enatretjina'>
        <p class='poudarek'>Odgovori:</p>
        <form action="">
          <div class='radioLine'><input type="radio" name="Q" id="strinja"> Se strinjam</div>
          <div class='radioLine'><input type="radio" name="Q" id="vzdrzan"> Vzdržan</div>
          <div class='radioLine'><input type="radio" name="Q" id="nestrinja"> Se ne strinjam</div>
        </form>
      </div>
        <button id="btnOddajOdg" onClick="oddajOdg()">Oddaj odgovor</button><br>
        <p class='povratna'>{{potrZapOdg}}</p>
        <!-- Spodnja koda je komentirana in ostaja v testne namene -->
        <!-- <p>Povratna informacija2: <output id="odg" type="text" /></p> -->
    <!-- </div>
    <div id="divGlasovalneEnote"> -->
      <table style="width:100%">
        <col width="150">
        <col width="200">
        <tr>
          <th class="tableGE">Glasovalna enota</th>
          <th>Stanje povezave</th>
          <th>Stanje odgovora</th>
        </tr>
        <tr>
          <th class="tableGE">GE01</th>
          <th><output id="ge00Connection" type="text">X</output></th>
          <th><output id="ge00" type="text">{{ge00odg}}</output></th>
        </tr>
        <tr>
          <th class="tableGE">GE02</th>
          <th><output id="ge01Connection" type="text">X</output></th>
          <th><output id="ge01" type="text">{{ge01odg}}</output></th>
        </tr>
        <tr>
          <th class="tableGE">GE03</th>
          <th><output id="ge02Connection" type="text">X</output></th>
          <th><output id="ge02" type="text">{{ge02odg}}</output></th>
        </tr>
        <tr>
          <th class="tableGE">GE04</th>
          <th><output id="ge03Connection" type="text">X</output></th>
          <th><output id="ge03" type="text">{{ge03odg}}</output></th>
        </tr>
      </table>
      <table style="width:100%" st-table="WebGETabela">
        <thead>
          <th st-sort="ip">IP</th>
          <th st-sort="SocketID">SocketID</th>
          <th st-sort="stanjeOdg">Stanje odgovora</th>
        </thead>
        <tbody>
          <tr ng-repeat="WebGE in WebGETabela">
            <td>{{WebGE.IP}}</td>
            <td>{{WebGE.SocketID}}</td>
            <td>{{WebGE.stanjeOdg}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <p>Število povezav prek spletnih glasovalnih enot: <output id="optWebGENum" type="text" /></p> -->
      <button id="btnKnof" onClick="WebGERefresh()">Knof</button>
    </div>
</div>
<button ng-controller="ModalPopup as $ctrl" id="btnZadnjeVpr" type="button" class="btn btn-default" ng-click="$ctrl.ZadnjeVpr()" style="display:none">Zadnje vprašanje</button>
<!-- <button ng-controller="ModalPopup as $ctrl" id="btnPodvojenOdg" type="button" class="btn btn-default" ng-click="$ctrl.PodvojenOdg()" style="display:none">Podvojen odgovor</button> -->
<button ng-controller="ModalPopup as $ctrl" id="btnPrazenOdg" type="button" class="btn btn-default" ng-click="$ctrl.PrazenOdg()" style="display:none">Prazen odgovor</button>
<button ng-controller="ModalPopup as $ctrl" id="btnNiVpr" type="button" class="btn btn-default" ng-click="$ctrl.NiVpr()" style="display:none">Ni vprašanja</button>
<button ng-controller="ModalPopup as $ctrl" id="btnPodvojenSocketID" type="button" class="btn btn-default" ng-click="$ctrl.PodvojenSocketID()" style="display:none">PodvojenSocketID</button>
