<!-- Opis: Spletna stran za prikaz vprašanja in oddajo glasu prek spletne glasovalne enote. -->
<!-- Verzija: 2017.04.04b -->
<!-- ==================================================================================================== -->
<div class="homepage">
  <h1>Spletna glasovalna enota</h1>
  <div id="divWebGE" ng-controller="WebGEController">
    <div class='dvetretjini'>
      <p class='vrsticaxody'><span class='poudarek'>Vprašanje: </span>{{zapStVpr+' od '+stVpr}}<br>
      <p class='trenutnoVprasanje'><b>> </b>{{vprasanje}}</p>
      <p class="stanjeGlasovanja"><span class='poudarek'>Stanje glasovanja: </span>{{stanjeGlasovanja}}</p><br>
      <button id="btnRewriteVprasanje" type="button" ng-click="rewriteVprasanje()" style="display:none"></button>
      <button id="btnPotrditevPrejemaOdg" type="button" ng-click="potrditevPrejemaOdg()" style="display:none"></button>
      <button id="btnStartStopInfo" type="button" ng-click="startStopGlWebGE()" style="display:none"></button>
    </div>
    <div class='enatretjina'>
      <p class='poudarek'>Odgovori:</p>
      <form action="">
        <div class='radioLine'><input type="radio" name="Q" id="strinja"> Se strinjam</div>
        <div class='radioLine'><input type="radio" name="Q" id="vzdrzan"> Vzdržan</div>
        <div class='radioLine'><input type="radio" name="Q" id="nestrinja"> Se ne strinjam</div>
      </form>
    </div>
      <button id="btnOddajOdg" onClick="oddajOdg()">Oddaj odgovor</button><br>
      <p class='povratna'>{{potrZapOdg}}</p>
  </div>
</div>
<button ng-controller="ModalPopup as $ctrl" id="btnPrazenOdg" type="button" class="btn btn-default" ng-click="$ctrl.PrazenOdg()" style="display:none">Prazen odgovor</button>
<button ng-controller="ModalPopup as $ctrl" id="btnNiVpr" type="button" class="btn btn-default" ng-click="$ctrl.NiVpr()" style="display:none">Ni vprašanja</button>
<button ng-controller="ModalPopup as $ctrl" id="btnPodvojenSocketID" type="button" class="btn btn-default" ng-click="$ctrl.PodvojenSocketID()" style="display:none">PodvojenSocketID</button>
<button ng-controller="ModalPopup as $ctrl" id="btnGlasovanjeStop" type="button" class="btn btn-default" ng-click="$ctrl.GlasovanjeStop()" style="display:none">Ustavljeno glasovanje</button>
