<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Prijava</h3>
</div>
<div class="modal-body" id="modal-body">
  <form method="post">
    <span>Uporabniško ime: <input type="text" name="username", required=true></span><br>
    <span>Geslo: <input type="password" name="password", required=true></span><br>
    <!-- <input type="submit" onClick="login()" value="Submit"/> -->
    <!-- <button class="btn btn-primary" type="submit">Potrdi</button> -->
    <!-- <button class="btn btn-primary" onClick="login()">Potrdi</button> -->
  </form>
</div>
<div class="modal-footer">
  <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
  <button class="btn btn-primary" type="button" ng-click="$ctrl.login()">OK</button>
</div>
