<!DOCTYPE html>
<html>
  <head>
    <title>Prijava</title>
  </head>
  <body>
    <h1>Prijavna stran</h1>
    <form method="post">
      <span>Uporabniško ime: <input type="email" name="email", required=true></span><br>
      <span>Geslo: <input type="password" name="password", required=true></span><br>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
